{% extends "base.html" %}

{% block title_head %}
Listado de Pacientes
{% endblock title_head %}

{% block h1_header %}
Listado de Pacientes
{% endblock h1_header %}


{% block main %}

<a href={% url "ingresar_paciente" %}>Ingresar Paciente</a>

<form action={% url "pacientes" %} method="get">
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

{% if pacientes %}
    <ul>
        {% for perro in pacientes %}
        <li>{{perro}} | 
            <a href={% url "eliminar_paciente" perro.id%}>Eliminar</a> | 
            <a href={% url "editar_paciente" perro.id%}>Editar</a> |
            <a href={% url "ver_paciente" perro.id%}>Ver</a> 
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No hay pacientes ingresados</p>
{% endif %}

{% endblock main %}